@import "_variables";
@import "_swiper";
@import "_header";
@import "_spotlight";
@import "_static-info";
@import "_home";
@import "_form";
@import "_user-notification";
@import "_footer";
@import "_comment";
@import "_modal";
// @import "_modal-2019";
// @import "_header-2019";
@import "_gratification";
@import "_scratchpad";
@import "_user-profile";
@import "_custom-login";
@import "../scss/animation/spinning";
@import "../scss/animation/bounceinup";

body {
    font-family: $regular_font-family
}

.app-footer-page.webview,
.app-paltans-all-time-mi-xi-page.webview {
    .header-sponsors-wrap {
        display: none;
    }
}

.form-tnc {
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}

.widget-layout-27 {
    .swiper-container {
        overflow: visible;
        z-index: 2;
    }
}

.widget-layout-129 {
    .swiper-container {
        overflow: visible;
    }
}

.widget-layout-130 {
    .swiper-container {
        overflow: visible;
    }
}

.view-pw {
    position: absolute;
    right: 2px;
    bottom: 5px;
    color: $primary-color;
    cursor: pointer;
    font-size: 18px;

    &.active {
        color: $golden-color;
    }
}

.webview {
    .section-wrap {
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    cursor: pointer;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

:focus {
    outline: none;
}

table,
.table {
    margin-bottom: 20px;

    td {
        padding: 0 10px;
    }

    th {
        padding: 5px 10px;
    }
}

.social-wrapper {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
}

.swiper-pagination {
    span {
        width: 12px;
        height: 12px; // display: inline-block;
        background-color: #aaaaaa;
        transition: 0.5s; // border-radius: 50%;
        cursor: pointer;
        margin: 0 4px;

        &.swiper-pagination-bullet-active {
            background-color: $golden-color;
        }
    }
}

.social {
    @include flexbox();
    @include align-items(center);

    .share-icon {
        cursor: pointer;
        font-size: 20px;
        display: block;
        text-indent: 0;
        width: 40px;
        height: 100%;
        text-align: center;
        padding: 5px 10px;

        &:before {
            content: '\e80f';
            font-family: $waf-icon;
        }
    }

    ul {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
    }

    li {
        a {
            cursor: pointer;
            display: block;
            margin: 0 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: $complementary-color;

            &:before {
                content: '';
                font-size: 16px;
                font-family: $waf-icon;
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                height: 100%;
            }
        }

        span {
            text-indent: -9999px;
            display: none;
        }

        &.google a {
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);

            &::before {
                content: '';
                background-image: url('../images/cssimages/svg/google-icon.svg');
                width: 20px;
                height: 20px;
                margin: 0 auto;
                background-repeat: no-repeat;
            }
        }

        &.facebook a {
            &::before {
                content: "\f09a"; // background-color: #3a589b;
            }
        }

        &.twitter a {
            &::before {
                content: "\f099"; // background-color: #598dca;
            }
        }

        &.instagram a {
            &::before {
                content: "\f16d"; // background-color: #bc2a8d;
            }
        }

        &.gplus a {
            &::before {
                content: "\f0d5"; // background-color: #dc4538;
            }
        }

        &.youtube a {
            &::before {
                content: "\f16a"; // background-color: #bb0000;
            }
        }

        &.whatsapp a {
            &::before {
                content: "\f232"; // background-color: #25d366;
            }
        }
    }
}

.social.social-origin {
    flex-direction: column;

    &>span {
        text-transform: capitalize;
        font-family: $medium_font-family;
        margin-bottom: 10px;
    }

    li {
        &>a {
            width: 40px;
            height: 40px;
        }

        &.facebook {
            a {
                background-color: $facebook;
            }
        }

        &.twitter {
            a {
                background-color: $twitter;
            }
        }

        &.gplus {
            a {
                background-color: $gplus;
            }
        }

        &.google {
            a {
                background-color: $complementary-color;
            }
        }
    }
}

/*social floating icons*/

.social.floating-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;

    li {
        overflow: hidden;

        &:nth-child(1) {
            border-top-left-radius: 20px;
        }

        &:nth-last-child(1) {
            border-bottom-left-radius: 20px;
        }

        a {
            margin: 0;
            width: 40px;
            height: 40px;
            background-color: $secondary-color;
            border-radius: 0px;
            transition: 0.4s;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    ul {
        flex-direction: column; // li:first-child(1) {}
    }
}

.article-meta {
    line-height: 1;
}

.meta-date {
    font-family: $medium_font-family;
    text-transform: uppercase;
    font-size: 14px;
}

.article-title {
    .title {
        line-height: 1.4; // font-size: 24px;
        font-family: $bold_font-family;
        overflow: hidden;
    }
}

.head-wrap {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    margin: 10px 0;
    padding-bottom: 10px;
    font-family: $medium_font-family;
    text-transform: capitalize;
    position: relative;

    .title {
        font-size: 30px;
        color: $primary-color;
        text-transform: uppercase;
    }

    .more-section {
        color: $primary-color;
        font-family: $bold_font-family;
        font-size: 14px;

        &:after {
            content: '\e9c5';
            font-family: $waf-icon;
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .filters {
        margin-left: auto;
        margin-bottom: 10px;

        form {
            @include flexbox();
        }

        .label {
            display: none;
        }
    }

    .select-box {
        border: 1px solid $primary-color;
        border-radius: 30px;

        select {
            // font-size: 16px;
            min-width: 160px;
            color: $primary-color;
            padding: 5px 20px 5px 10px;
        }

        &+.select-box {
            margin-left: 20px;
        }
    }
}

button {
    &.loading {
        position: relative;
        padding-right: 40px;

        &:before {
            content: "";
            width: 0px;
            height: 0px;
            border-radius: 50%;
            right: 6px;
            top: 50%;
            position: absolute;
            border: 2px solid #000000;
            border-right: 3px solid #27ae60;
            -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
            animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
        }

        &:after {
            content: '';
            right: 6px;
            top: 50%;
            width: 0;
            height: 0;
            box-shadow: 0px 0px 0 1px #080808;
            position: absolute;
            border-radius: 50%;
            -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
            animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
        }
    }
}

.btn-clear {
    background-color: $golden-color;
    color: $primary-color;
    font-family: $medium_font-family;
    border-radius: 20px;
    border: 1px solid $golden-color;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px; // line-height: 1;
}

.btn-action,
.loadmore,
.btn-gold {
    background-color: $golden-color;
    color: $primary-color;
    font-family: $medium_font-family;
    border: 1px solid $golden-color;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    position: relative;
    width: auto;
    font-size: 16px;
    padding: 12px 30px;
    line-height: 1;
}

.btn-secondary {
    @extend .btn-gold;
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
}

.btn-blue {
    background-color: $primary-color;
    color: $golden-color;
    font-family: $medium_font-family;
    border-radius: 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    padding: 12px 30px;
    line-height: 1;
    border: 1px solid $primary-color;
}

.btn-disabled {
    filter: grayscale(1);
    cursor: not-allowed;
    pointer-events: none;
}

.slider-nav {
    width: 35px;
    height: 35px; // border-radius: 50%;
    // background-color: $golden-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.swiper-button-prev {
        left: 0;

        &:before {
            content: "\e9cd";
            font-family: $waf-icon;
        }
    }

    &.swiper-button-next {
        right: 0;

        &:before {
            content: "\e9c5";
            font-family: $waf-icon;
        }
    }
}

.article-video-thumbnail,
.article-thumbnail {
    position: relative;
}

.icon-photos:before {
    content: '\e9f7';
}

.icon-mi-players-emojis:before {
    content: '\e908';
}

.icon-tickets:before {
    content: '\e95e';
}

.icon-videos {
    &:before {
        content: '\e873';
    }
}

.icon-players {
    &:before {
        content: '\e9f4';
    }
}

/*below code is required if not include in secondary-nav*/

// .icon-player-stats {
//     &:before {
//         content: '\e904';
//     }
// }
.icon-news {
    &:before {
        content: '\e8bc';
    }
}

/*_Item Type Icon Sass_*/

.item-type-icon {
    z-index: 1;
    color: $complementary-color;
    font-size: 14px;
    font-family: $regular_font-family;

    &:before {
        font-family: $waf-icon;
    }
}

.item-type-news,
.item-type-article {
    .item-type-icon {
        &:before {
            content: "\e8bc";
        }
    }
}

.item-type-photo {
    .item-type-icon {
        &:before {
            content: "\e9f7";
        }
    }
}

.item-type-video {
    position: relative;

    .item-type-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 40px;
        background-color: transparent;
        right: auto;
        content: '';
        background-image: url('../images/cssimages/svg/icon-video.svg');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
}

.mi-site-preloader {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;

    &:before,
    &:after {
        content: '';
        box-shadow: inset 0px 0px 10px rgba($secondary-color, 0.15);
        border-radius: 50%;
        position: absolute;
    }

    &:before {
        border: 2px solid $primary-color;
        border-bottom: 0;
        border-left-color: transparent;
        width: 100%;
        height: 100%;
        -webkit-animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
        animation: loader-outter 1.5s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    &:after {
        // border: 2px solid $golden-color;
        border-right: 0;
        border-top-color: transparent;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
        animation: loader-inner 1.5s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    @keyframes loader-outter {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loader-inner {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }
}

.mi-site-preloader-golden {
    @extend .mi-site-preloader;

    &:before,
    &:after {
        // border: 2px solid #ef3531;
        // box-shadow: inset 0px 0px 10px rgba(239, 53, 49, 0.15);
        border: 2px solid $secondary-color;
        box-shadow: inset 0px 0px 10px rgba($secondary-color, 0.15);
    }
}

/*back-to-top-floating-icon-css*/

.scroll-to-top {
    position: fixed;
    bottom: 75px;
    right: 30px;
    z-index: 2;
    display: none;

    .btn-topscroll-btn {
        height: 40px;
        width: 40px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        text-align: center;
        background-color: #d1ab3e;
        border-radius: 6px;
        position: relative;

        &:before {
            content: "\e9d0";
            font-size: 18px;
            font-family: $waf-icon;
            color: #001549;
        }
    }
}

/*back-to-top-floating-icon-css*/

.cookie-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $golden-color;
    color: $primary-color;
    padding: 15px;
    text-align: center;
    z-index: 3;
    display: none;

    &.notify {
        animation: bounceinup 0.4s;
        display: block;
    }

    .cookie-wrap {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
    }

    .action-btn {
        background-color: $primary-color;
        color: $complementary-color;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0 5px;
    }
}

// countdown
.waf-count-down {
    position: relative; // padding: 95px 0 30px;
    // max-width: 70%;
    margin: auto; // &:before {

    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     -webkit-transform: translateX(-50%);
    //     -moz-transform: translateX(-50%);
    //     -ms-transform: translateX(-50%);
    //     transform: translateX(-50%);
    //     top: 0px;
    //     width: 200%;
    //     height: 100%;
    //     background-color: #030572;
    //     // background: url(/static-assets/images/cssimages/home-banner-slider-bg.jpg);
    //     background-repeat: no-repeat;
    //     background-size: 100% auto;
    //     z-index: -1;
    // }
    .coutdown-box {
        @include flexbox();
        justify-content: center; // padding: 20px 0;
        // @include border-bottom-radius(150px);
        align-items: center;
    }

    .countdown-label {
        text-transform: uppercase;
        text-align: right;
        margin-right: 20px;

        .txt-1 {
            font-size: 12px;
            font-family: $regular_font-family;
            color: $complementary-color;
        }

        // .txt-2 {
        //     font-size: 14px;
        //     font-family: $medium_font-family;
        // }
    }

    .count-num {
        @include flexbox();
        align-items: center;
        justify-content: center;
    }

    .countdown-timer {
        @include flexbox();
        align-items: center;

        .count-box {
            width: 35px;
            margin-right: 5px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#001847+0,083e88+100 */
            background: rgb(0, 24, 71);
            /* Old browsers */
            background: -moz-linear-gradient(top, rgba(0, 24, 71, 1) 0%, rgba(8, 62, 136, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 24, 71, 1) 0%, rgba(8, 62, 136, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 24, 71, 1) 0%, rgba(8, 62, 136, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001847', endColorstr='#083e88', GradientType=0);
            /* IE6-9 */
        }

        .num {
            font-size: 14px;
            color: #ebbe41;
            font-family: $medium_font-family; // background-color: #00196b;
            // border: 1px solid #4177d9;
            // border-radius: 6px;
            // margin-right: 5px;
            // width: 34px;
            display: inline-flex;
            justify-content: center;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        .colon {
            font-size: 22px;
            color: #fcaf17;
            font-family: $medium_font-family;
            margin: 0 8px;
        }

        .count-txt {
            font-size: 8px;
            color: $complementary-color;
            text-transform: uppercase;
            font-family: $regular_font-family;
            text-align: center;
        }
    }
}

// video popup
.video-popup {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: hidden;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;

    video::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
    }

    video {
        pointer-events: none;
    }
}

// junior 2020
.waf-component.waf-scores-tabs {
    margin: 0 -10px;
    position: relative;
    background-color: #e6e6e6;
    padding: 50px 0;
    overflow: hidden;
    z-index: 2;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        background: url(/static-assets/images/cssimages/scores-vector.png) no-repeat;
        background-position: center;
        background-size: cover;
        height: 403px;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .article-title {
        font-size: 34px;
        text-align: center;
        color: $primary-color;
        text-transform: uppercase;
        font-family: $medium_font-family;
    }

    .tab-container {
        max-width: 60%;
        margin: auto;
        margin-top: 25px;
    }

    .tab-list {
        ul {
            @include flexbox();
            justify-content: space-between;
            align-items: center;

            li {
                font-size: 24px;
                font-family: $regular_font-family;
                color: $primary-color;
                flex: 1;
                text-align: center;
                border-bottom: 1px solid $primary-color;
                text-transform: uppercase;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                position: relative;

                &:hover {
                    color: $golden-color;
                }

                &.active {
                    border-bottom: 3px solid $golden-color;
                    color: $golden-color;
                    font-family: $bold_font-family;
                }
            }
        }
    }

    .tab-row {
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    .card-item {
        @include border-radius(20px);
        flex-basis: 33.33%;
        padding: 15px;
        border: 1px solid $secondary-color;
        margin: 0 15px;
        background-color: #e6e6e6;
        transition: 0.4s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 4px 10px rgba($default-color, 0.5);
        }

        a {
            @include flexbox();
            justify-content: space-between;
        }

        .player-icon {
            flex-basis: 35%;
            text-align: center;
            @include flexbox();
            align-items: center;
            justify-content: center;

            &:before {
                font-family: $waf-icon;
                color: $secondary-color;
                font-size: 50px;
                line-height: 1;
            }

            &.boys-u14 {
                &:before {
                    content: "\ea28";
                }
            }

            &.girls-u14 {
                &:before {
                    content: "\ea2a";
                }
            }

            &.boys-u16 {
                &:before {
                    content: "\ea29";
                }
            }
        }
    }

    .text-wrap {
        flex-basis: 65%;
        border-left: 1px solid $secondary-color;
        @include flexbox();
        align-items: center;
        flex-wrap: wrap;

        .text {
            display: block;
            font-size: 28px;
            color: $primary-color;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;

            &.text-1 {
                flex-basis: 100%;
                font-family: $bold_font-family;
            }

            &.text-2 {
                flex-basis: 100%;
            }
        }
    }
}

.custom-iframe {
    margin: 0 -10px;

    iframe {
        border: none;
    }
}

.article-list {
    .no-data {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: $media-tablet-max) {

    /*social floating icons*/
    .social.floating-icons {
        display: none;
    }

    .head-wrap {
        .title {
            font-size: 24px;
        }
    }

    // .article-title {
    //     .title {
    //         font-size: 16px;
    //     }
    // }
    .meta-date {
        font-size: 12px;
    }
}

@media screen and (max-width: $media-phone-max) {
    .waf-count-down {
        position: fixed;
        top: 89px;
        width: 100%;
        left: 0;
        background-color: $secondary-color;
    }

    .social {
        li {
            a {
                &:before {
                    font-size: 14px;
                }
            }
        }
    }

    .scroll-to-top {
        .btn-topscroll-btn {
            height: 30px;
            width: 30px;
        }
    }

    .social.social-origin {
        li>a {
            width: 30px;
            height: 30px;
        }
    }

    .slider-pagination {
        span {
            width: 10px;
            height: 10px;
        }
    }

    .head-wrap {
        .title {
            font-size: 20px;
        }

        .filters {
            margin-right: 0px;
            margin-left: 0px;
            width: 100%;

            form {
                display: block;
            }
        }

        .select-box {
            select {
                width: 100%;
            }

            &+.select-box {
                margin-left: 0px;
                margin-top: 10px;
            }
        }
    }

    .item-type-video {
        .item-type-icon {
            width: 30px;
            height: 30px;
        }
    }

    .btn-blue,
    .btn-action,
    .loadmore,
    .btn-gold,
    .btn-secondary {
        font-size: 14px;
        padding: 8px 20px;
    }

    .cookie-block {
        padding: 10px;
        font-size: 12px;

        p {
            margin-bottom: 5px;
        }

        .cookie-wrap {
            flex-direction: column;
        }
    }

    // junior 2020
    .waf-component.waf-scores-tabs {
        .article-title {
            font-size: 25px;
        }

        .tab-container {
            max-width: 100%;
            margin-top: 25px;
            padding: 10px;
        }

        .tab-list {
            ul {
                li {
                    font-size: 18px;
                }
            }
        }

        .tab-row {
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            flex-wrap: wrap;
        }

        .card-item {
            flex-basis: 65%;
            padding: 15px;
            margin: 10px 15px;

            &:hover {
                transform: scale(1);
                box-shadow: none;
            }
        }

        .text-wrap {
            flex-basis: 65%;

            .text {
                font-size: 22px;
            }
        }
    }
}