/*_Color Variables_*/
$warning: #ff0000;
$success: #2b842b;
$complementary-color:#ffffff;
$grey-note: #787878;
$default-color: #000000;
// $primary-color: #001848;
$primary-color: #ff0000;
$secondary-color:#083f88;
$golden-color: #d1ab3e;
$facebook: #3a589b;
$twitter: #1da1f2;
$gplus: #dc4538;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
/*_Font Variables_*/
// $img-path: "../static-assets/images/cssimages/svg/icon-video.svg";

$regular_font-family:"NoirProRegular",
sans-serif;
$bold_font-family:"NoirProBold",
sans-serif;
$medium_font-family:"NoirProMedium",
sans-serif;
$light_font-family:"NoirProLight",
sans-serif;
$semibold_font-family: "NoirProSemiBold",
sans-serif;
$waf-icon: "waf-icon-font";