<script>
  loadWidget('si-ads', 'widget-layout-01');
  loadWidget('si-ads', 'widget-layout-08');
  loadWidget('si-ads', 'widget-layout-10');
</script>
<footer class="site-footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="partner-strip principal">
        <div class="partner-title">
          <span>principal sponsors</span>
        </div>
        <div class="partner-list">
          <div class="item">
            <img src="/static-assets/images/cssimages/footer/samsung-new.png" data-src="" alt="">
          </div>
          <div class="item">
            <img src="/static-assets/images/cssimages/footer/colors.png" data-src="" alt="">
          </div>
        </div>
      </div>
      <div class="partner-strip associate">
        <div class="partner-title">
          <span>associate sponsors</span>
        </div>
        <div class="partner-list">
          <div class="item">
            <img src="/static-assets/images/cssimages/footer/marriot-bonvoy.jpg" data-src="" alt="">
          </div>
          <div class="item">
            <img src="/static-assets/images/cssimages/footer/jio.jpg" data-src="" alt="">
          </div>
          <div class="item">
            <img src="/static-assets/images/cssimages/footer/astral-pipe.jpg" data-src="" alt="">
          </div>
        </div>
      </div>
      <div class="partner-strip official">
        <div class="partner-title">
          <span>official sponsors</span>
        </div>
        <div class="partner-list">
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/kingfisher.png?v=2" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/kingfisher-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/usha-new.png?v=2" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/usha-new.png" data-src="" alt="" class="">
          </div>
          <!-- <div class="item">
            <img src="/static-assets/images/cssimages/footer/sharp.png" data-src="" alt="">
          </div> -->
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/burgerking.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/burger-king-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/william-lawson.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/william-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/appy-new.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/appy-new.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/mastercard.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/mastercard.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/dream11.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/dream11-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/bkt.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/bkt-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/taiwan.png?v=2" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/taiwan-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/arena-animation.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/arena-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/boat.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/boat-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <a href="https://www.facebook.com/PerformaxSportswear" class="" target="_blank">
              <img src="/static-assets/images/cssimages/footer/performax.png" data-src="" alt="">
            </a>
          </div>
          <div class="item d-block d-sm-none">
            <a href="https://www.facebook.com/PerformaxSportswear" class="" target="_blank">
              <img src="/static-assets/images/cssimages/footer/mi-spnsrs/performax-mob.png" data-src="" alt="" class="">
            </a>
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/esa.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/esa-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/book-my-show.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/bms-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/dna-network.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/dna-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/radio-city.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/radio-city-mob.png" data-src="" alt="" class="">
          </div>
          <div class="item d-none d-sm-block">
            <img src="/static-assets/images/cssimages/footer/fever.png" data-src="" alt="">
          </div>
          <div class="item d-block d-sm-none">
            <img src="/static-assets/images/cssimages/footer/mi-spnsrs/fever-mob.png" data-src="" alt="" class="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="content-box">
        <div class="mi-logo">
          <div class="img-box">
            <img class="lazy" src="/static-assets/images/cssimages/svg/mi-logo.svg" alt="">
          </div>
        </div>
        <div class="site-map-wrap">
          <ul class="site-map">
            <li><a href="">Home</a></li>
            <li><a href="/fixtures">matches</a></li>
            <li><a href="/mitv">MITV</a></li>
            <li><a href="/players">squad</a></li>
          </ul>
          <ul class="site-map">
            <li><a href="/news">latest updates</a></li>
            <li><a href="/photos">gallery</a></li>
            <li><a href="/shop">shop</a></li>
          </ul>
          <ul class="site-map">
            <li><a href="/stadium">stadium</a></li>
            <!-- <li><a href="">sponsor &amp; partners</a></li>-->
            <li><a href="/contact-us">contact us</a></li>
            <li>
              <div class="social social-links">
                <span>Follow Us on</span>
                <ul>
                  <li class="facebook">
                    <a href="https://www.facebook.com/dummyTeam" class="" target="_blank">
                      <span>Share on Facebook</span>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="https://twitter.com/mipaltan" class="" target="_blank">
                      <span>Share on Twitter</span>
                    </a>
                  </li>
                  <li class="instagram">
                    <a href="https://www.instagram.com/dummyTeam" class="" target="_blank">
                      <span>Share on Twitter</span>
                    </a>
                  </li>
                  <li class="youtube">
                    <a href="https://www.youtube.com/user/mipaltan" target="_blank">
                      <span>Share on Youtube</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="footer-copyrights">
        <div class="copyrights-wrap">
          <div class="content-box">
            <p class="copyrights"> © Copyright Dummy Team <span class="copy-year">2019</span></p>
            <ul class="quick-links">
              <li> All rights reserved</li>
              <li><a href="/terms-and-conditions">terms &amp; conditions</a></li>
              <li><a href="/privacy-policy">privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Cookie Policy Pop-Up-->
<div class="cookie-block" id="cookieblock" style="display: none;" data-controller="si-ads--widget-layout-08"
  data-target="si-ads--widget-layout-08.cookieBlock"
  data-action="open-cookie-popup->si-ads--widget-layout-08#openCookiePopup">
  <div class="cookie-wrap">
    <div class="cookie-body">
      <p>By using our site, you acknowledge that you have read and understand our <a href="/privacy-policy">Privacy
          Policy</a>, and our <a href="/terms-and-conditions">Terms and Conditions</a>. </p>
    </div>
    <div class="cookie-action action">
      <button class="action-btn" id="cookiebtn" data-action="click->si-ads--widget-layout-08#closeCookie">Got
        It</button>
    </div>
  </div>
</div>
<div data-controller="si-ads--widget-layout-01"
  data-action="open-signin-modal->si-ads--widget-layout-01#openSigninPopup open-gratification-modal->si-ads--widget-layout-01#showGratification">
  <!-- Sign in -->
  <div class="modal modal-signin fade sho" data-target="si-ads--widget-layout-01.modalSignin">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="section-left">
            <div class="content-wrap">
              <div class="content-list">
                <div class="content-item">
                  <img src="../static-assets/images/cssimages/mi-family.png" alt="">
                  <!-- <p class="text">join mi family</p> -->
                </div>
                <div class="content-img">
                  <img src="../static-assets/images/cssimages/membership/all-cards.png" alt="">
                </div>
                <div class="content-item">
                  <p class="text1">Join MI Family to avail </p>
                  <p class="text2">Exciting Offers,<br class="web"> Interact, Play and Win Prizes.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="section-right show-login-wrap" data-target="si-ads--widget-layout-01.signInPopup">
            <span class="skip icon-close"
              data-action="click->si-ads--widget-layout-01#closeLoginRegistrationDialog"></span>
            <!--  user login -->
            <div class="content-wrap login-wrap" data-target="si-ads--widget-layout-01.signInForm" id="signInForm">
              <div class="content-wrap-head">
                <p class="login-note"><span>Note </span> : Login via Facebook and Twitter has been disabled. Please
                  create an account using your email address to continue.</p>
              </div>
              <form action="" class="user-signin custom-form" data-vv-scope="sign-in">
                <h3 class="form-title">Login</h3>
                <div class="form-group">
                  <!-- append active class on label when focus in input element -->
                  <md-input type="email" autocomplete="off" id="loginEmail" name="email" v-validate="'required|email'"
                    v-model="email" :error="errors.first('sign-in.email')">
                  </md-input>
                </div>
                <div class="form-group">
                  <md-input :type="passwordFieldType" autocomplete="off" id="loginPassword" name="password"
                    v-validate="'required'" v-model="password" :error="errors.first('sign-in.password')">
                  </md-input>
                  <span class="view-pw icon-view" @click="switchVisibility"></span>
                  <a href="javascript:void(0)" class="meta-label forgot-pwd" id="forgot-pwd"
                    data-action="click->si-ads--widget-layout-01#showForgotPwd" v-on:click="reset">forgot password?</a>
                </div>
                <!-- CAPTCHA -->
                <!-- <div class="col-12"> -->
                <div class="form-group">
                  <div class="captch-section notvalidated">
                    <vue-recaptcha ref="recaptcha" v-on:verify="verifyCaptcha"
                      sitekey="6LcSOpIUAAAAAPrhE8x5_bwHc7wX_98h8deYfnxV" v-on:expired="onCaptchaExpired">
                    </vue-recaptcha>
                  </div>
                  <span v-cloak="" class="errordiv show">{{ captchaError }}</span>
                </div>
                <!-- </div> -->
                <div class="form-group">
                  <button type="submit" class="btn-gold" v-on:click="submit"
                    v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">Login</button>
                </div>
                <p class="success">{{
                  globalMsgDiv }}</p>
                <div class="form-group ">
                  <p class="signup-link">Not Registered? <a href="javascript:void(0);"
                      data-action="click->si-ads--widget-layout-01#showRegistration" v-on:click="reset">Sign Up</a></p>
                </div>
              </form>
            </div>
            <!--  forgot password -->
            <div class="content-wrap forgot-wrap" data-target="si-ads--widget-layout-01.forgotPasswordForm"
              id="forgotPasswordForm">
              <div class="content-head">
                <h3 class="title">forgot password?</h3>
              </div>
              <div class="content-body">
                <form action="" class="forgot-password custom-form" data-vv-scope="forgot-pwd">
                  <div class="form-group">
                    <md-input type="email" autocomplete="off" id="forgtPwdEmail" name="email"
                      v-validate="'required|email'" v-model="email" :error="errors.first('forgot-pwd.email')">
                    </md-input>
                    <div class="captch-section notvalidated">
                      <vue-recaptcha ref="recaptcha" v-on:verify="verifyCaptcha"
                        sitekey="6LcSOpIUAAAAAPrhE8x5_bwHc7wX_98h8deYfnxV">
                      </vue-recaptcha>
                    </div>
                    <span v-cloak="" class="errordiv show">{{ captchaError }}</span>
                    <a href="javascript:void(0)" class="meta-label forgot-pwd" id="showSignin"
                      data-action="click->si-ads--widget-layout-01#showSignin" v-on:click="reset">Sign in</a>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn-gold" v-on:click="submit"
                      v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">Submit</button>
                  </div>
                  <p class="success">{{
  globalMsgDiv }}</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign in previous -->
  <!-- <div class="fmodal modal-signin" data-target="si-ads--widget-layout-01.modalSignin">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="section-left">
            <div class="content-wrap">
              <div class="content-head">
                <img src="/static-assets/images/cssimages/popup-logo.png" alt="">
              </div>
              <div class="content-body">
                <p>Register to join conversations, interact and win <em>MI merchandise</em></p>
              </div>
            </div>
          </div>
          <div class="section-right show-login-wrap" data-target="si-ads--widget-layout-01.signInPopup">
            <span class="skip" data-action="click->si-ads--widget-layout-01#closeLoginRegistrationDialog">skip</span>

            <div class="content-wrap login-wrap" data-target="si-ads--widget-layout-01.signInForm" id="signInForm">
              <div class="social social-links social-origin">
                <span>sign in with</span>
                <ul>
                  <li class="facebook">
                    <a href="javascript:void(0)" data-action="click->si-ads--widget-layout-01#facebookLogin" class=""
                      target="_blank">
                      <span>Share on Facebook</span>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="javascript:void(0)" data-action="click->si-ads--widget-layout-01#twitterLogin" class=""
                      target="_blank">
                      <span>Share on Twitter</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="sign-up-bus" data-action="click->si-ads--widget-layout-01#showRegistration"
                v-on:click="reset">
                <span class="meta-label">not registered?</span>
                <img src="/static-assets/images/cssimages/sign-in-bus.png" alt="" class="animate-bus">
              </div>
              <form action="" class="user-signin custom-form" data-vv-scope="sign-in">
                <div class="form-group">
                  <md-input type="email" autocomplete="off" id="loginEmail" name="email" v-validate="'required|email'"
                    v-model="email" :error="errors.first('sign-in.email')">
                  </md-input>
                </div>
                <div class="form-group">
                  <md-input type="password" autocomplete="off" id="loginPassword" name="password"
                    v-validate="'required'" v-model="password" :error="errors.first('sign-in.password')">
                  </md-input>
                  <a href="javascript:void(0)" class="meta-label forgot-pwd" id="forgot-pwd"
                    data-action="click->si-ads--widget-layout-01#showForgotPwd" v-on:click="reset">forgot password?</a>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-gold" v-on:click="submit"
                    v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">Submit</button>
                </div>
                <p class="success">{{
 globalMsgDiv }}</p>
              </form>
            </div>
            <div class="content-wrap forgot-wrap" data-target="si-ads--widget-layout-01.forgotPasswordForm"
              id="forgotPasswordForm">
              <div class="content-head">
                <h3 class="title">forgot password?</h3>
              </div>
              <div class="content-body">
                <form action="" class="forgot-password custom-form" data-vv-scope="forgot-pwd">
                  <div class="form-group">
                    <md-input type="email" autocomplete="off" id="forgtPwdEmail" name="email"
                      v-validate="'required|email'" v-model="email" :error="errors.first('forgot-pwd.email')">
                    </md-input>
                    <div class="captch-section notvalidated">
                      <vue-recaptcha ref="recaptcha" v-on:verify="verifyCaptcha"
                        sitekey="6LcSOpIUAAAAAPrhE8x5_bwHc7wX_98h8deYfnxV">
                      </vue-recaptcha>
                    </div>
                    <span v-cloak="" class="errordiv show">{{ captchaError }}</span>
                    <a href="javascript:void(0)" class="meta-label forgot-pwd" id="showSignin"
                      data-action="click->si-ads--widget-layout-01#showSignin" v-on:click="reset">Sign in</a>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn-gold" v-on:click="submit"
                      v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">Submit</button>
                  </div>
                  <p class="success">{{
 globalMsgDiv }}</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Register -->
  <div class="modal modal-register register-popup fade sho" data-target="si-ads--widget-layout-01.modalRegister"
    id="registrationForm">
    <div class="modal-dialog">
      <div class="modal-content content-body-selector" style="position: relative; max-height: 100%; min-height: 100%;">
        <div class="content-wrap">
          <span class="skip icon-close" data-action="click->si-ads--widget-layout-01#hideRegistration"></span>
          <div class="content-head">
            <h3 class="title">register</h3>
          </div>
          <div class="content-body" style="-webkit-overflow-scrolling: auto;">
            <form action="" class="user-registration custom-form" data-vv-scope="registration">
              <div class="row">
                <!-- NAME -->
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- append active class on label when focus in input element -->

                    <md-input type="text" autocomplete="off" id="fullName" name="full name" v-validate="'required'"
                      v-model="fullName" :error="errors.first('registration.full name')">
                    </md-input>
                  </div>
                </div>
                <!-- EMAIL -->
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- append active class on label when focus in input element -->
                    <md-input type="email" autocomplete="off" id="RegisterEmail" name="email"
                      v-validate="'required|email'" v-model="email" :error="errors.first('registration.email')"
                      v-on:blurfired="verifyEmailAddress" ref="regEmail">
                    </md-input>
                    <span class="errordiv" id="RegEmailVerifErrorSpan">Email address already in use.</span>
                  </div>
                </div>
                <!-- DOB -->
                <div class="col-md-6 dobwrap">
                  <div class="form-group">
                    <md-input id="dob" autocomplete="off" name="DOB" type="date" class-name="select-dob"
                      v-validate="'age_validator'" v-model="dob" :error="errors.first('registration.DOB')">
                    </md-input>
                  </div>
                </div>
                <!-- GENDER -->
                <div class="col-md-6">
                  <div class="radio-button">
                    <label>Gender: </label>
                    <div class="radio">
                      <input type="radio" autocomplete="off" id="male" name="gender" checked="" value="male"
                        v-validate="'required|included:male,female,other'" v-model="gender">
                      <label for="male">male</label>
                    </div>
                    <div class="radio">
                      <input type="radio" autocomplete="off" id="female" name="gender" value="female" v-model="gender">
                      <label for="female">female</label>
                    </div>
                    <div class="radio">
                      <input type="radio" id="other" name="gender" value="other" v-model="gender">
                      <label for="other">other</label>
                    </div>
                  </div>
                </div>
                <!-- MOBILE -->
                <div class="col-md-6">
                  <div class="form-group btn-input">
                    <md-input type="text" autocomplete="off" id="RegisterMobile" name="mobile"
                      v-validate="'required|digits:10'" v-model="mobile" :error="errors.first('registration.mobile')">
                    </md-input>
                    <button type="button" class="btn btn-click btn-sendotp" @click="sendOTP" id="regSendOTPBtn">Send
                      OTP</button>
                    <span class="errordiv" id="RegMobileVerifErrorSpan">Mobile number already in use.</span>
                  </div>
                </div>
                <!-- OTP -->
                <div class="col-md-6">
                  <div class="form-group btn-input">
                    <!-- <div class="form-element btn-input">
                    <label for="otp" class="">OTP</label>
                    <input type="text" class="form-control" id="otp">
                    <button type="button" class="btn btn-click btn-resendotp">resend</button>
                    <span class="errordiv"> message is required </span>
                  </div> -->
                    <md-input type="text" autocomplete="off" id="reg_otp" name="otp" v-validate="'required|digits:6'"
                      v-model="otp" :error="errors.first('registration.otp')">
                    </md-input>
                    <!-- <button type="button" class="btn btn-click btn-sendotp" @click="verifyOTP" id="regVerifyOTP">Verify
                      OTP</button> -->
                    <span class="errordiv" id="RegOTPVerifErrorSpan">OTP Verification failed, please try again.</span>
                  </div>
                </div>
                <!-- STATE -->
                <div class="col-md-6">
                  <div class="form-group">
                    <md-select v-model="state" name="state" id="state" v-on:change="onStateChange">
                      <option value=""></option>
                      <option v-for="stateList in stateLists" v-bind:value="stateList.state_id">
                        {{stateList.name.trim()}}</option>
                    </md-select>
                  </div>
                </div>
                <!-- CITY -->
                <div class="col-md-6">
                  <div class="form-group">
                    <md-select v-model="city" name="city" id="city">
                      <option value=""></option>
                      <option v-for="cityList in cityLists" v-bind:value="cityList.city_id"> {{cityList.name.trim()}}
                      </option>
                    </md-select>
                  </div>
                </div>
                <!-- PASSWORD -->
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="password" autocomplete="off" id="password" name="password"
                      v-validate="'required|min:8|strong_password'" v-model="password"
                      :error="errors.first('registration.password')">
                    </md-input>
                  </div>
                </div>
                <!-- CONFIRM PASSWORD -->
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input :type="passwordFieldType" autocomplete="off" id="confirmpwd" name="confirm password"
                      v-validate="{ required: true, is: password }" v-model="cpassword"
                      :error="errors.first('registration.confirm password')">
                    </md-input>
                    <span class="view-pw icon-view" @click="switchVisibility"></span>
                  </div>
                </div>
                <!-- T&C -->
                <div class="col-md-12">
                  <div class="check-box">
                    <input type="checkbox" autocomplete="off" id="termsAndCondition" name="termsAndCondition"
                      v-model="termsAndCondition" v-validate="'required'"
                      v-bind:class="{show:errors.first('registration.termsAndCondition')}">
                    <label for="termsAndCondition">i agree with <a class="form-tnc" href="terms-and-conditions">terms
                        and conditions</a></label>
                    <span v-cloak="" class="errordiv show">{{ errors.first("registration.termsAndCondition") }}</span>
                  </div>
                </div>
                <!-- CAPTCHA -->
                <div class="col-12">
                  <div class="form-group captcha-wrap">
                    <div class="captch-section notvalidated">
                      <vue-recaptcha ref="recaptcha" v-on:verify="verifyCaptcha"
                        sitekey="6LcSOpIUAAAAAPrhE8x5_bwHc7wX_98h8deYfnxV" v-on:expired="onCaptchaExpired">
                      </vue-recaptcha>
                    </div>
                    <span v-cloak="" class="errordiv show">{{ captchaError }}</span>
                  </div>
                </div>
                <!-- SUBMIT & MESSAGE DIV -->
                <div class="col-12">
                  <div class="form-group">
                    <button type="submit" class="btn-gold" v-on:click="submit"
                      v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">create account</button>
                    <div class="login-link">
                      <p>already have an account? <a href="javascript:void(0)"
                          data-action="click->si-ads--widget-layout-01#hideRegistration" v-on:click="reset">log in</i>
                    </div>
                    </p>
                  </div>
                  <p class="success">{{ globalMsgDiv }}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Register previous-->
  <!-- <div class="modal modal-register " data-target="si-ads--widget-layout-01.modalRegister" id="registrationForm">
    <div class="modal-dialog">
      <div class="modal-content content-body-selector" style="position: relative; max-height: 100%; min-height: 100%;">
        <div class="content-wrap">
          <span class="skip" data-action="click->si-ads--widget-layout-01#hideRegistration">back</span>
          <div class="content-body">
            <form action="" class="user-registration custom-form" data-vv-scope="registration">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="text" autocomplete="off" id="fullName" name="full name" v-validate="'required'"
                      v-model="fullName" :error="errors.first('registration.full name')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input id="dob" autocomplete="off" name="DOB" type="date" class-name="select-dob"
                      v-validate="'age_validator'" v-model="dob" :error="errors.first('registration.DOB')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="email" autocomplete="off" id="email" name="email" v-validate="'required|email'"
                      v-model="email" :error="errors.first('registration.email')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="text" autocomplete="off" id="mobile" name="mobile" v-validate="'digits:10'"
                      v-model="mobile" :error="errors.first('registration.mobile')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="password" autocomplete="off" id="password" name="password"
                      v-validate="'required|min:8|strong_password'" v-model="password"
                      :error="errors.first('registration.password')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-input type="password" autocomplete="off" id="confirmpwd" name="confirm password"
                      v-validate="{ required: true, is: password }" v-model="cpassword"
                      :error="errors.first('registration.confirm password')">
                    </md-input>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-select v-if="isIndia" v-model="state" name="state" id="state" v-on:change="onStateChange">
                      <option value=""></option>
                      <option v-for="stateList in stateLists" v-bind:value="stateList.state_id">
                        {{stateList.name.trim()}}</option>
                    </md-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <md-select v-if="isIndia" v-model="city" name="city" id="city">
                      <option value=""></option>
                      <option v-for="cityList in cityLists" v-bind:value="cityList.city_id"> {{cityList.name.trim()}}
                      </option>
                    </md-select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="radio-button">
                    <label>Gender: </label>
                    <div class="radio">
                      <input type="radio" autocomplete="off" id="male" name="gender" checked="" value="male"
                        v-validate="'required|included:male,female,other'" v-model="gender">
                      <label for="male">male</label>
                    </div>
                    <div class="radio">
                      <input type="radio" autocomplete="off" id="female" name="gender" value="female" v-model="gender">
                      <label for="female">female</label>
                    </div>
                    <div class="radio">
                      <input type="radio" id="other" name="gender" value="other" v-model="gender">
                      <label for="other">other</label>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="check-box">
                    <input type="checkbox" autocomplete="off" id="termsAndCondition" name="termsAndCondition"
                      v-model="termsAndCondition" v-validate="'required'"
                      v-bind:class="{show:errors.first('registration.termsAndCondition')}">
                    <label for="termsAndCondition">i agree with terms and conditions</label>
                    <span v-cloak="" class="errordiv show">{{ errors.first("registration.termsAndCondition") }}</span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <div class="captch-section notvalidated">
                      <vue-recaptcha ref="recaptcha" v-on:verify="verifyCaptcha"
                        sitekey="6LcSOpIUAAAAAPrhE8x5_bwHc7wX_98h8deYfnxV">
                      </vue-recaptcha>
                    </div>
                    <span v-cloak="" class="errordiv show">{{ captchaError }}</span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <button type="submit" class="btn-gold" v-on:click="submit"
                      v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">create account</button>
                    <div class="login-link">
                      <p>already have an account? <a href="javascript:void(0)"
                          data-action="click->si-ads--widget-layout-01#hideRegistration" v-on:click="reset">log in</a>
                    </div>
                    </p>
                  </div>
                  <p class="success">{{
 globalMsgDiv }}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- TNC Inner -->
  <div class="modal modal-register modal-tnc edit fade sho" data-target="si-ads--widget-layout-01.modalVerify"
    id="verificationForm" data-action="click->si-ads--widget-layout-01#closeVerificationBackdrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="content-wrap">
          <span class="skip icon-close"
            data-action="click->si-ads--widget-layout-01#closeLoginRegistrationDialog"></span>
          <div class="content-head">
            <h3 class="title"><span>Congratulations!</span> <br>You have been added to the Blue Tier of MI Family!<br
                class="web"> Please confirm your details to continue: </h3>
          </div>
          <div class="content-body">
            <form action="" class="user-registration custom-form" data-vv-scope="verify">
              <section class="row-fields">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <md-input type="email" autocomplete="off" id="email" name="email" v-validate="'required|email'"
                        v-model="email" :error="errors.first('verify.email')" disabled="disabled"
                        class="disabledTncEmail" ref="regEmail">
                      </md-input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group btn-input">
                      <md-input type="text" autocomplete="off" id="VerifyMobile" name="mobile"
                        v-validate="'required|digits:10'" v-model="mobile" :error="errors.first('verify.mobile')">
                      </md-input>
                      <span class="errordiv" id="VerifMobileVerifErrorSpan">Mobile number already in use.</span>
                      <button type="button" class="btn btn-click btn-sendotp" @click="sendOTP" id="verifSendOTPBtn">Send
                        OTP</button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group btn-input">
                      <md-input type="text" autocomplete="off" id="verif_otp" name="otp"
                        v-validate="'required|digits:6'" v-model="otp" :error="errors.first('verify.otp')">
                      </md-input>
                      <span class="errordiv" id="VerifOTPVerifErrorSpan">OTP Verification failed, please try
                        again.</span>
                      <!-- <button type="button" class="btn btn-click btn-sendotp" id="verifVerifyOtp">Verify OTP</button> -->
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group btn-wrap">
                      <button type="submit" class="btn-gold" v-on:click="submit"
                        v-bind:class="{'btn-disabled': isSubmitDisabled, loading : showLoader}">Verify Account</button>
                    </div>
                    <p class="success">{{ globalMsgDiv }}</p>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Success Popup -->
  <div class="modal modal-register modal-tnc modal-successful-verif successfull fade sho"
    data-target="si-ads--widget-layout-01.successPopup"
    data-action="click->si-ads--widget-layout-01#closeSuccessPopupOuter">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="content-wrap">
          <span class="skip icon-close" data-action="click->si-ads--widget-layout-01#closeSuccessPopup"></span>
          <div class="content-body">
            <div class="content-box">
              <p class="line1">Hi <span id="successNAmeUpper"></span>,</p>
              <p class="line2">Congratulations!!</p>
              <p class="line3">you have become a</p>
              <div class="card-img">
                <img src="../static-assets/images/cssimages/member-cards/Blue.png" alt="">
                <span class="card-name" id="successNameCard"></span>
                <span class="card-expiry" id="expiryDate"></span>
              </div>
              <h3 class="img-title">Blue Tier Member</h3>
            </div>
            <div class="form-group btn-wrap btn-wrap-icons">
              <button type="submit" class="btn-gold"
                data-action="click->si-ads--widget-layout-01#goToMembership">Upgrade</button>
              <div class="btn-gold social-wrap activ loading" id="socialShareBtn"
                data-target="si-ads--widget-layout-01.socialShareBtn"
                data-action="click->si-ads--widget-layout-01#toggleShare"> Share <ul class="share-icons"
                  id="shareIconsUl">
                  <li>
                    <a href="javascript:void(0);" data-type="download" id="downloadLink" class="icon-download"
                      download></a>
                  </li>
                  <li><a href="javascript:void(0);" data-type="fb"
                      data-action="click->si-ads--widget-layout-01#shareImage" class="icon-facebook"></a>
                  </li>
                  <li><a href="javascript:void(0);" data-type="twitter"
                      data-action="click->si-ads--widget-layout-01#shareImage" class="icon-twitter"></a>
                  </li>
                  <li><a href="javascript:void(0);" data-type="whatsapp"
                      data-action="click->si-ads--widget-layout-01#shareImage" class="icon-whatsapp"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <canvas id="confetti-canvas" style="z-index: 9999; position: relative;"></canvas>
  </div>
  <!-- Scroll to top -->
  <div class="scroll-to-top"
    data-action="click->si-ads--widget-layout-01#scrollToTop scroll@window->si-ads--widget-layout-01#showScrollTopBtn"
    data-target="si-ads--widget-layout-01.scrollTopBtn">
    <a href="javascript:void(0)" class="btn-topscroll-btn">
    </a>
  </div>
  <!-- Gratification -->
  <div class="waf-component waf-gratify" data-target="si-ads--widget-layout-01.gratification">
    <div class="content-wrapper">
      <div class="scratch-container usergratify">
        <div class="sc__wrapper">
          <div id="js--sc--container" data-target="si-ads--widget-layout-01.scratchPad" class="sc__container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="social floating-icons">
  <ul>
    <li class="facebook">
      <a href="https://www.facebook.com/dummyTeam" target="_blank">
        <span>Share on Facebook</span>
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/mipaltan" target="_blank">
        <span>Share on Twitter</span>
      </a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/dummyTeam/" target="_blank">
        <span>Share on Instagram</span>
      </a>
    </li>
    <li class="youtube">
      <a href="https://www.youtube.com/user/mipaltan" target="_blank">
        <span>Share on Youtube</span>
      </a>
    </li>
  </ul>
</div>
<div class="video-popup" id="newyear-popup" style="display: none;" data-controller="si-ads--widget-layout-10">
  <div class="embed-responsive-item">
    <video height="100%" width="100%" id="newyear-video" muted autoplay playsinline disableRemotePlayback>
      <source src="/static-assets/videos/mi-new-year.mp4" type="video/mp4">
    </video>
  </div>
</div>
<!-- TNC backup -->
<!-- <div class="modal modal-register modal-tnc edit fade sho">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="content-wrap">
        <span class="skip icon-close"></span>
        <div class="content-head">
          <h3 class="title"><span>Congratulations!</span> <br>You have been added to the Blue Tier of MI Family!<br
              class="web"> Please confirm your details to continue: </h3>
        </div>
        <div class="content-body">
          <form action="" class="user-registration custom-form">
            <section class="row-fields">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-element">
                      <label for="lastname" class="active">*Email Address</label>
                      <input type="text" class="form-control">
                      <span class="errordiv"> message is required </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-element btn-input">
                      <label for="mobileno" class="">Mobile no.</label>
                      <input type="number" class="form-control" id="mobileno">
                      <button type="button" class="btn btn-click btn-sendotp">send otp</button>
                      <span class="errordiv"> message is required </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-element btn-input">
                      <label for="otp" class="">OTP</label>
                      <input type="text" class="form-control" id="otp">
                      <button type="button" class="btn btn-click btn-resendotp">resend</button>
                      <span class="errordiv"> message is required </span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group btn-wrap">
                    <button type="submit" class="btn-gold loading">Submit</button>
                  </div>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- tnc success next message -->
<!-- <div class="modal modal-register modal-tnc successfull fade sho">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="content-wrap">
        <span class="skip icon-close"></span>
        <div class="content-body">
          <div class="content-box">
            <p class="line1">Hi Shailesh,</p>
            <p class="line2">Congratulations!!</p>
            <p class="line3">you have become a</p>
            <div class="image-box">
              <img src="../static-assets/images/cssimages/membership/blue.png">
              <h3 class="img-title">Blue Card Member</h3>
            </div>
          </div>
          <div class="form-group btn-wrap btn-wrap-icons">
            <button type="submit" class="btn-gold">Upgrade</button>
            <div class="btn-gold social-wrap activ">Share <ul class="share-icons">
                <li>
                  <a href="" class="icon-download"></a>
                </li>
                <li><a href="" class="icon-facebook"></a>
                </li>
                <li><a href="" class="icon-twitter"></a>
                </li>
                <li><a href="" class="icon-whatsapp"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->