@import "../../../../../../widget-library/downloads/sass/widget-layout-02.scss";
@import "../../_variables";
@import "../../_emoji";
@import "../../_stickers";

.waf-downloads.widget-layout-03 {
    border-bottom: 1px solid $golden-color;

    .head-wrap {
        .btn-download {
            background-color: $golden-color;
            padding: 10px 20px;
            line-height: 1;
            border-radius: 20px;

            &:after {
                content: '\e851';
                font-family: $waf-icon;
                margin-left: 14px;
            }
        }
    }
}

// @media screen and (max-width: $media-tablet-max) {}

@media screen and (max-width: $media-phone-max) {
    .waf-downloads.widget-layout-03 {
        .head-wrap {
            .btn-download {
                font-size: 12px;
                padding: 8px 14px;

                &:after {
                    margin-left: 8px;
                }
            }
        }
    }
}